body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #F4F4F4;
}

#kwadrat {
    position: relative;
    width: 80%;
    max-width: 600px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#napis {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#logo {
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 40px;
    color: #000000;
}

#logo img {
    margin-right: 10px;
    height: 200px;
}


#tabela {
    width: 100%;
    border-collapse: collapse;
}

.tede {
    text-align: center;
    padding: 20px 0;
}

.guzik1 {
    width: 100%;
    height: 50px;
    background: #617DDF;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    transition-duration: 0.4s;
}

.guzik1:hover {
    background-color: #869ae4;
}

.input {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    transition-duration: 0.4s;
}

.input:focus {
    border-color: #617DDF;
    outline: none;
}

.show-error .input:invalid {
    border-color: red;
}
@media only screen and (max-width: 600px) {
    #kwadrat {
        width: 90%;
        margin: 50px auto;
        padding: 10px;
    }

    #logo {
        font-size: 32px;
    }

    .guzik1 {
        font-size: 16px;
    }

    .input {
        height: 35px;
        font-size: 14px;
    }
}